---
import { type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import AuthorAvatar from '@/components/AuthorAvatar.astro'
import FormattedDate from '@/components/FormattedDate.astro'

export interface Props {
  post: CollectionEntry<'blog'>
  readingTime: string
}

const { post, readingTime } = Astro.props
const { author, authorImage } = post.data
---

<header class="mb-8">
  <!-- Title -->
  <h1 class="mb-4 text-4xl leading-tight font-bold md:text-5xl">
    {post.data.title}
  </h1>
  <!-- Description -->
  <!-- Author + reading time -->
  <div class="space-y-4">
    <div class="flex items-center gap-3">
      <AuthorAvatar name={author} image={authorImage} />
      {
        readingTime && (
          <>
            <span>•</span>
            <span class="text-base-content/70 text-sm">{readingTime}</span>
          </>
        )
      }
    </div>
    <!-- Date  -->
    <div class="text-base-content/70 flex items-center gap-3 text-sm">
      <span>
        Posted <FormattedDate date={post.data.datePublished} />
      </span>
      {post.data.dateUpdated && <span class="text-base-content/40">•</span>}
      {
        post.data.dateUpdated && (
          <span class="italic">
            Edited <FormattedDate date={post.data.dateUpdated} />
          </span>
        )
      }
    </div>
  </div>
</header>
<!-- Tags -->
{
  post.data.tags.length > 0 && (
    <div class="mb-8 flex flex-wrap gap-2">
      {post.data.tags.map((tag) => (
        <a href={`/blog/tags/${tag}`} class="badge-soft badge badge-info">
          #{tag}
        </a>
      ))}
    </div>
  )
}

<!-- Hero -->
{
  post.data.heroImage && (
    <figure class="-mx-4 mb-6 md:mx-0">
      <Image
        src={post.data.heroImage}
        alt={post.data.title}
        class="w-full rounded-none md:rounded-lg"
      />
    </figure>
  )
}

{post.data.description && <p class="text-base-content/70 mb-6 text-lg">{post.data.description}</p>}
